---
---

@import "{{ site.theme }}";

section {
	width: 690px;
	background-color: #fff;
	margin-top: 140px;
}


.container {
  margin: 0 auto;
  width: 1210px;
}


@media print, screen and (max-width: 1060px) {
	section: {
		max-width: 700px;
	}
}

@media print, screen and (max-width: 720px) {
	section {
		width: auto;
	}
	.container {
		width: auto;
		img {
			display: none;
		}
	}
}

body {
	background: url(../images/body-background.png) #fff;
	font:  14px/22px HelveticaNeueLTW01_55Roman,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	background: #0F05A0;
	padding: 25px 20px 20px 20px;
	
	text-align: left;
	
	h1 {
		font:  40px/40px HelveticaNeueLTW01_55Roman,"Helvetica Neue",Helvetica,Arial,sans-serif;
		padding-left: 55px;
	}
	
	img {
		display: inline;
		padding-top: 15px;
		padding-bottom: 15px;
		height: 45px;
		float: left;
	}
	
	p {
     position: relative;
	 left: 60px;
	}
}

nav {
  width: 280px;
  margin-left: -620px;
  top: 140px;
}

p, li {
  font-size: 1.0625rem;
}

pre {
  color: #000;
  background-color: #fff;
}

nav ul a {
	color: #737373;
}

nav ul {
 font-size:16px;
}

nav ul li {
 color: #0F05A0;
}

nav ul li.tag-h1 {
 font-size:1.2em;
 color: #0F05A0;
 border-top: 1px solid;
}

li.tag-h3 {
 font-size: 0.9rem;
 display: none;
}

ul {
 list-style-image: none;
 list-style-type: square;
}

nav ul li.tag-h1 a {
 font-weight:bold;
 color:#0F05A0;
}

h1 {
  color: #0F05A0;
}

#banner {
    display: none;
	background: #0F05A0;
	border: none;
	margin-right: -482px;
	
	.fork {
		background-color: #070046;
	}
	.button {
		border: 1px solid #737373;
		background: #070046;
		
		&:hover {
			background: #666;
		}
	}
	strong {
		color: #fff;
	}
}

footer {
	display: none;
}
