---
---

section {
	width: 690px;
}

@media print, screen and (max-width: 1060px) {
	section: max-width: 700px;
}

@media print, screen and (max-width: 720px) {
	section {
		width: auto;
	}
}

@import "{{ site.theme }}";

body {
	background: url(../images/body-background.png) #ececec;
}

header {
	background: #0E2B56;
}



nav {
  width: 280px;
  margin-left: -620px;
}


#banner {
	background: #1F52A3;
	border: none;
	margin-right: -482px;
	
	.fork {
		background-color: #0E2B56;
	}
	.button {
		border: 1px solid #cccccc;
		background: #0E2B56;
		
		&:hover {
			background: #666;
		}
	}
	strong {
		color: #f3f3f3;
	}
}

footer {
	display: none;
}